body{
    background: url(szabalyzat.png);
}

nav.navbar{
    opacity: 75%;
    background-color: #bfe4ae;
}
.nav-link{
    font-size: large;
    font-weight: 500;
}
.card{
    background-color: #bfe4ae;
    border-radius: 12px;
    transition: 0.3s;
}
.card:hover{
    box-shadow:20px 20px 20px #8ec587;
    transform: translateY(-5px);
}
#zöld{
    color: #bfe4ae;
}
.btn{
    background-color: #8ec587;
}
.btn:hover{
    color: #bfe4ae;
    background-color: black;
}
#szabalyzat{
    box-shadow: none;
}